#firstReview {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#reviewRight {
    width: 25.5vw;
    height: 100%;
    background-color: white;
    padding-top: 3.33vw;
    padding-left: 2.08vw;
    padding-right: 2.08vw;
    padding-bottom: 4.68vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#patientPic {
    width: 5.83vw;
    height: 5.83vw;
    content: " ";
    background-size: cover;
    margin-right: 1.2vw;
}
#rewNameShell {
    height: 5.8vw;
}


#patientName {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25vw;
    line-height: 33px;

}
#patientCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

    

#downPatient span {
    font-style: normal;
    font-weight: normal;
    font-size: 1.05vw;
    line-height: 27px;
    letter-spacing: 0.0015em;
    margin-right: 16px;
}
#reviewText {
    max-width:100%;
    margin-top: 2vw;
}
#reviewText p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 1.1vw;
    letter-spacing: 0.5px;

    color: #2F2F2F;

}
