#docCard {
    width: 56vw;
    height: 26.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#docImage {
    background-image: url("../images/doc1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 22vw;
    height: 100%;
    border-radius: 4px;
}

#docRight {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#docDesc {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 0.83vw;
    line-height: 1.3vw;
    letter-spacing: 0.5px;
    color: #2F2F2F;
    height: 20vw;
}
#docDesc h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.77vw;
    line-height: 2.4vw;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

#docDesc p {
    margin: 0;
}

#buttonShell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#buttonShell button {
    width:14.16vw;
    height: 2.9vw;
    background-color: #10BFAE;
    border:none;
    color:white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.04vw;
    line-height: 27px;
    letter-spacing: 0.0015em;
    /* margin-top: 3vh; */
    padding: auto;
}

@media screen and (max-width:1280px) {
    #docDesc {
        line-height: 1.3vw;
    }
  }