@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* fonts */
::-webkit-scrollbar {
  background-color: #E5E5E5;
  width: 13px;
}
::-webkit-scrollbar-thumb {
  border-radius:5px ;
  background-color: #10BFAE;
}
html {
  box-sizing: border-box;
  background: #E5E5E5;
}
*, *::after, *::before {
  box-sizing: inherit;
}
* {
  font-family: "Open Sans";
}
/* default */


body {
  margin:0;
  padding: 0;
  background: #E5E5E5;
  width: 100vw;
  overflow-x: hidden;
}
#upperBlock {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/mainImage.jpg");
  background-size: cover;
  padding-left: 10.41vw;
  padding-right: 10.41vw;
  padding-top: 42px;
  background-repeat: no-repeat;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 79.2vw;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  margin-top:42px;
  left:10.41vw;
}

#headerName, #logo {
  height: 40px;
  width: 40px;
  background-image: url("./images/logo.png");
  background-size: cover;
}
#logo {
  display: none;
}
#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#nav span {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0015em;
  color: #FFFFFF;
  margin-left: 2vw;
  cursor: pointer;
}
#nav #fBut{
  color: #10BFAE;
}



#langSelect {
  display: flex;
  flex-direction: row;

}
#langSelect #ukr {
  margin: 0;
  padding-left: 7px;
  border-left: 2px solid white ;
}
#langSelect #ru {
  padding-right: 7px;
}

#langSelect .activeLang {
  color: #10BFAE;
}
#langSelect .lang {
  color: white;
}
header .navbar {
  display: none;
}
#operMobile {
  display: none;
}
#mainUpper {
  margin-top:35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#mainUpper h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 2.7vw;
  line-height: 80px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  width:80%;
  color: #FFFFFF;
}
#descr {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  width:70%;
  max-width: 41.25vw;
  height: 10vw;
}
#descr .carousel .carousel-inner .carousel-item {
  height: 110px;
  font-size: 1.3vw;
  line-height: 1.6vw;
}

#mainUpper button {
  width:14.16vw;
  height: 5.18vh;
  background-color: #10BFAE;
  border:none;
  color:white;
  border-radius: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.0015em;
  font-size: 1.05vw;
}
#mainUpper * {
  margin-bottom: 2.5vh;
  
}

main {
  padding-top: 18vh;
  background: #E5E5E5;
}

section {
  margin-left: 10.4vw;
  margin-right: 10.4vw;
}

#docHead {
  margin-left: 45%;
  display: inline-block;
  margin-bottom: 4vh;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 65px;
  display: flex;
  align-items: center;
  color: #000000;
}

#carousel {
  width: 56vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:  13.75vw
}
#reviews .carousel {
  max-width: 45.8vw;
}
.carousel-indicators [data-bs-target]{
  display: none;
}

a.carousel-control-prev {
  left: -15%;

} 

a.carousel-control-next {
  left: 100%;

}
span.carousel-control-next-icon {
    background-image: url("./images/smallArrow.png");
    background-size: 30%;
    height: 100%;
    width: 100%; 
}
span.carousel-control-prev-icon {
  background-image: url("./images/smallArrow.png");
  background-size: 30%;
  height: 100%;
  width: 100%; 
  transform: rotate(180deg);
}

#oper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24.4vh;
}
#upperOp {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 19.16vw 19.16vw;
  row-gap: 16px;

}

#upperOp .operBlock {
  margin-left: 0.83vw;
}
#downLfetBlock {
  display: flex;
  flex-direction: row;
}

#services {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
}

#services h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 65px;
  display: flex;
  align-items: center;
  margin-bottom: 1vw;
}

#upperOpDesc {
  max-width: 32vw;
  font-weight: normal;

  font-size: 1.13vw;
  line-height: 1.35vw;

  /* letter-spacing: 0.0015em; */
}
.operBlock {
  width: 19.16vw;
  height: 19.16vw;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-bottom: 1.9vh;
  font-style: normal;

}
#operText {
  height: 35%;
}
.operBlock div {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
}
.operBlock h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
  line-height: 1.6vw;
  margin-bottom: 10px;
  }
.serviseDesc {
  max-width: 100%;
  font-size: 0.83vw;
  line-height: 1vw;
}
#downOp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 34vh;
  grid-column-gap: 0.83vw;
}

.settings {
  height: 7vw;
  width: 7vw;
  margin-bottom: 11px;
  margin-left: 5px;
}

#reviews {
  margin-bottom: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#reviewHead {
  margin-left: 45%;
  display: inline-block;
  margin-bottom: 4vh;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 65px;
  display: flex;
  align-items: center;

  color: #000000;
}
#reviewGrid {
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 24vw;
  grid-column-gap: 1.2vw;
}
#readReviews {
  width: 14.16vw;
    height: 2.9vw;
    background-color: #E5E5E5;
    border: 1px solid #10BFAE;
    margin-top: 16px;
    border-radius: 5px;
    text-decoration: none;
}
#readReviews div {
  text-decoration: none;
  color: #10BFAE;
  font-style: normal;
    font-weight: normal;
    font-size: 1.04vw;
    line-height: 27px;
    letter-spacing: 0.0015em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#map {
  margin:0;
  height: 60vh;
}
footer {
  padding-left: 10.4vw;
  padding-right: 10.4vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7.22vh ;
  margin-top: 7.22vh ;
}
.footerH {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #2F2F2F;
  margin-bottom: 8px;
}
.footerText {
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 33px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}
#footerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#number a {
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 65px;
  display: flex;
  align-items: center;
  color: #10BFAE;
}
#footerRight{
  width: 37.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16vh;
} 
#mail {
  margin-bottom: 24px;
}
#mobileCarousel {
  display: none;
}

@media (min-width:100px) and (max-width:980px) {
  #upperOpDesc {
    font-size: 13px;
  }
  body {
    overflow-x: hidden;
    width: 100vw;
  }
  #nav, header #headerName, .operBlock, #upperOpDesc {
    display: none;
  }

  header .navbar, #logo {
    display: flex;
  }
  header {
    min-height: 8.6vh;
    padding-left:5vw;
    padding-right: 5vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background: #E5E5E5;
    z-index: 5;
    margin-top: 0;
    width: 100vw;
  }

  #upperBlock {
    padding-left:5vw;
    padding-right: 5vw;
    padding-top: 0;
    background: #000000;
    height: auto;
  }
  header .navbar {
    width: 100%;
    background-color: #E5E5E5;
    color: #000000;
  }
  header .navbar a {
    color: #000000 !important;
  }
  header .navbar-dark .navbar-toggler-icon {
    background-image: url("./images/burger-menu.png") ;
    background-size: 140%;
    transition: all ease-in-out 0.2s;
  }
  .navbar.navbar-dark .navbar-toggler {
    padding: 0;
    border:none;
  }
  .navbar-nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navbar-toggler-icon-cross {
    background-image: url("./images/cross.png") !important;
    background-size: 70%;
    transform: rotate(90deg);
    transition: all ease-in-out 0.2s;
  }
  #mainUpper {
    min-height: 66.7vh;
    margin-top: 0;
  }
  #mainUpper button {
    width: 100%;
    font-size: 20px;
    height: 10vh;
    margin-bottom: 25vh;
  }
  #mainUpper h1 {
    font-size: 34px;
    line-height: 46px;
    width: 100%;
    margin-top: 13vh;
  }
  #descr {
    width: 90vw;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-top: 5.7vw;
  }
  #descr .carousel .carousel-inner {
    height: 23.23vh;
    
  }

  #descr .carousel .carousel-item {
    width: 90vw;
  }
  main {
    padding: 0;
  }
  #docHead {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
  }
  #carousel {
    display: none;
  }
  #mobileCarousel {
    display: inline-block;
    margin: 0;
    width: 100%;
    padding-left:5vw;
    padding-right: 5vw;
  }
  #mobileCarousel .carousel {
    margin-left: auto;
    margin-right: auto;
  }
  #mobileCarousel .carousel a {
    width: 20px;
    height: 30px;
  }
  #mobileCarousel span.carousel-control-prev-icon,#mobileCarousel span.carousel-control-next-icon {
    background-size: 100%;
  }
  #mobileCarousel a.carousel-control-prev {
    left: 0%;
  }
  #mobileCarousel a.carousel-control-next {
    left: 85vw;
  }
  #upperOp {
    display:none;
  }
  #docBut {
    width: 100%;
    font-size: 20px;
    height: 10vh;
    background-color: #10BFAE;
    color:white;
    border-radius: 5px;
    border: none;
  }
  #oper {
    display: none;
  }
  #operMobile {
    display: grid;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 32px;
  }
  #operMobile .accordion-item{
    margin-bottom:2.81vh;
    border-radius: 10px;
    
  }

  #operMobile button {
    height: 21vh;
    display: flex !important;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start !important;
    padding-left: 16px;
    padding-top: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.0015em;
    color: #000000;
  }

  #operMobile button::after {
    position: absolute;
    left: 90%;
    background-image: url("./images/smallTriangle.png");
  }
  button .buttonText {
    width: 60%;
  }
  #operMobile h2, #operMobile button {
    border-radius: 4px;
  }
  #operMobile .accordion-button:not(.collapsed) {
    box-shadow: none;
  }
  #reviewHead {
    font-style: normal;
    margin-left: 37vw;
    font-weight: normal;
    font-size: 7.5vw;
    line-height: 33px;
    padding-top:10vw ;
    display: flex;
    align-items: center;

    color: #000000;
  }
  #reviews {
    margin-left:5vw ;
    margin-right:5vw ;
  }
  #reviewGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 45vh 45vh 45vh;
    grid-row-gap :16px
  }
  #reviewGrid #reviewRight {
    width: 100%;
  }
  #reviewGrid #patientName {
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.0015em;

  color: #000000;
  }
  #reviewGrid #reviewRight {
    padding:16px;
    padding-top: 31px;
  }
  #reviewGrid #downPatient span {
    font-weight: normal;
  font-size: 16px;
  line-height: 22px;
 

  letter-spacing: 0.5px;

  color: #2F2F2F;
  }
  #reviewGrid #patientPic {
    height: 22.5vw;
    width: 22.5vw;
  }
  #reviewGrid #reviewText {
    margin-top: 20px;
  }
  #reviewGrid #reviewText p {
    font-weight: normal;
    font-size: 1.7vh;
    line-height: 2.4vh;
    letter-spacing: 0.5px;

    color: #2F2F2F;
  }
  #reviewGrid #rewNameShell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 19.5vw;
    margin-left: 20px;
  }
  #reviewGrid #rewNameShell span:nth-child(2) {
    display: none;
  }
  #readReviews {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 188px;
    height: 33px;
  }
  #readReviews div {
    font-size: 14px;
    width: 100%;
  }
  #reviews {
    margin-bottom: 8.45vh;
  }
  #map {
    margin-left:5vw ;
    margin-right:5vw ;
    
  }
  iframe {
    border-radius: 4px;
  }
  footer {
    flex-direction: column;
    
  }
  .footerH {
    font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;


  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  color: #2F2F2F;
  }
  #number a{
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.0015em;
    text-decoration-line: underline;

    color: #10BFAE;
    margin-bottom: 24px;
  }
  .footerText {
    font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0015em;

  color: #000000;
  }
  #footerRight {
    width: 100%;
    
  }

  #adress {
    padding-bottom: 24px;
  }
  #servHead {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:20px 0 ;
  }
  .mr-auto a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    color: white !important;
  }
}
